*{
    margin: 0;
}

.donkeremuur{
    background-image: url(Donkeremuur1cropped.png);
    background-size: cover;
    background-position: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1235px;
}

div img{
    width: 100%;
    padding-left: 200px;
}