/* src/components/Navbar/Navbar.css */

.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 40px;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  ul li {
    margin: 0 15px;
    color: white;
    cursor: pointer;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-right select,
  .nav-right button {
    margin-left: 10px;
    padding: 5px 10px;
  }
  
  .user-controls {
    display: flex;
    align-items: center;
  }
  
  .sign-out-button,
  .user-info {
    margin-left: 10px;
    color: white;
  }
  

@media (max-width: 900px) {
    .navbar {
        padding: 20px 8%;
    }
    .navbar button {
        gap: 8px;
        padding: 8px 18px;
        font-size: 14px;
    }
}

@media (max-width: 770px) {
    .navbar {
        padding: 20px 5%;
    }
    .navbar ul {
        display: none;
    }
    .navbar button img {
        width: 12px;
    }
}
